.advantage {

  background-color: $colorBodyT;
  width: 320px;

}

.advantage__title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.advantage__description {
  font-weight: 400;
  font-size: 18px;
width: 240px;
 text-align: center;
}
.advantage__item {
  padding-top: 40px;
  list-style: none;
}
