.btn {
  margin: 0 auto;
  width: 262px;
  height: 52px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 50px;
  color: $ColorFontWhite;
  border: 3px solid $colorBody;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
}
.modal-popup__btn {
  width: 268px;
  height: 61px;
  background-color: $color-btn;
  color: $colorBody;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}

.personal__btn {
  width: 268px;
  height: 61px;
  background-color: $color-btn;
  margin-bottom: 45px;
  color: $ColorFontWhite;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}
.download__btn {
  margin-left: 20px;
}
.upload__btn--ok {
  margin-bottom: 20px;
  margin-top: 40px;
  border: 3px solid #d22856;
  color: $colorFontRed;
}
.upload__btn--ok:hover {
  background-color: #d22856;
  color: #ffffff;
}
.upload__btn--ok:active {
  background-color: #d22856;
  color: #e07e94;
}
.upload__btn--no {
  border: 3px solid #dddfe0;
  color: #dddfe0 ;
}
.upload__btn--no:hover {
  border-bottom: 3px solid #b5b9be;
  color: #b5b9be;
}
.upload__btn--no:active {
  background-color: #b5b9be;
  color: #c6c9cd;
}
@media (min-width: $tablet-width) {
.download__btn:hover {
  color: $colorFontRed;
  background-color: $colorBody;
}
.download__btn:active {
  color: $colorFontRed;
  background-color: $colorBody;
}
.btn {
  margin: auto;
  width: 260px;
  display: block;
}
.upload__buttons {
  margin-top: 55px;
}
.upload__btn--ok {
  margin-bottom: 25px;
  width: 242px;
  height: 47px;
}
.upload__btn--no {
  width: 242px;
  height: 47px;
}
.modal-popup__btn {
  width: 288px;
}
.personal__btn {
  margin: 0;
  width: 288px;
}
}
@media (min-width: $desktop-width) {
.download__btn {
  width: 282px;
  height: 47px;
  font-size: 21px;
}
.upload__buttons {
  margin: auto;
  width: 410px;
  display: flex;
  padding-top: 55px;
}
.upload__btn--ok {
  width: 165px;
  height: 47px;
  margin: auto;
}
.upload__btn--no {
  width: 165px;
  height: 47px;
}
.modal-popup__btn {
  width: 288px;
}
.modal-popup__btn--success {
  width: 448px;
  }
}
