.filter {
  width: 320px;
  background-color: $colorBodyT;
  }
.filter__title {
  width: 280px;
  text-align: center;
  text-transform: uppercase;
  }
.filter__item {
  padding-bottom: 70px;
  }

.filter__list {
  padding-left: 20px;
  margin-top: 45px

  }
.filter__label {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  display: block;
  cursor: pointer;
  color: #283136;
  margin-bottom: 20px;
  padding-left: 37px;
  }
.filter__label::before {
content: "";
  width: 39px;
  height: 39px;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../img/Layer164.png");
  background-repeat: no-repeat;
  background-color: transparent;
  }
.filter__label::before {
  opacity: 1;
  }
.filter__label::before {
opacity: 1;
  }
input[type="checkbox"]:checked + label::before {
content: "";
  width: 39px;
  height: 39px;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../img/on.png");
  background-repeat: no-repeat;
  background-color: transparent;
  }
.filter__list li {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  display: block;
  cursor: pointer;
  color: #283136;
}
input:focus + label::before {
  opacity: 1;
  }
