.footer {
  background-color: $colorBody;
  width: 320px;
  height: 300px;
  padding-top: 35px; }
  .footer__img {
    margin-left: 85px;

  }

.socials {
    text-align: center;
    display: flex;
    padding-top: 35px;
    margin-left: 70px;

  }
  .socials__link {
  margin-right: 15px;
  margin-top: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #e1e1e1;

  }
.socials__link:active {
  background-color: #fb565a;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  }
  .socials__link--twitter {
    background-image: url(../img/icon-twitter.svg);
    background-repeat: no-repeat;
    background-position: center;

    }
  .socials__link--facebook {
  background-image: url(../img/icon-facebook.svg);
  background-repeat: no-repeat;
  background-position: center;

  }

  .socials__link--youtube {
  background-image: url(../img/icon-youtube.svg);
  background-repeat: no-repeat;
  background-position: center;
  }



  .copyright {
    text-align: center;
    display: flex;
    padding-top: 35px;
    margin-left: 70px;
  }

  .copyright__link {
    margin-left: 25px;
    width: 50px;
    height: 50px;
    background-image: url("../img/logo-htmlacademy.svg");
    background-repeat: no-repeat;
    background-color: transparent;
  }
