.footer {
  background-color: $colorBody;
  padding-top: 35px;
  }

@media (min-width: $tablet-width) {
.footer {
  margin: 0 auto;
  padding-bottom: 40px;
  width: 620px;
  justify-content: space-between;
  display: flex;
  }
 .footer--off {
  display: block;

}
}

@media (min-width: $desktop-width) {
.footer {
  width: 960px;
  padding: 70px 10px 68px;
  }
}
