.footer__logotip {
  vertical-align: top;
  height: 40px;
  width: 155px;
  margin: 0 auto;
  display: block;
}
.footer__logotip__svg {
  fill: #283645;
  color: #d22856;
  width: 147px;
  height: 40px;
}
.footer__logotip[href]:hover .footer__logotip__svg {
  fill: #d22856;
}
.footer__logotip[href]:active .footer__logotip__svg {
  fill: #283645;
  color: #d22856;
  opacity: 0.3;
}
.footer__logotip__glasses {
  fill: currentColor;
}
.footer__logotip__glasses-crop {
  display: none;
}
.footer__logotip__stars {
  display: none;
}
.footer__logotip__star {
  display: none;
}
@media (min-width: $tablet-width) {
.footer__logotip {
  width: 150px;
  flex-shrink: 0;
  margin-bottom: 17px;
  margin: 0;
}
}
@media (min-width: $desktop-width) {
.footer__logotip {
  width: 170px;
  margin-bottom: 19px;
}
.footer__logotip__glasses {
  display: none;
}
.footer__logotip__glasses-crop {
  display: block;
  fill: currentColor;
}
.footer__logotip__stars {
  display: block;
  fill: inherit;
}
.footer__logotip__star {
  display: block;
  fill: currentColor;
  }
}
