.header__logo {

  background-color: $colorHeader;
  width: 320px;
  height: 70px;
  .header__logo-image {
margin-left: 20px;
 margin-top: 20px;
  }
  .header__btn {

  border: none;
  content: "";
  width: 24px;
  height: 23px;
  top: 30px;
  left: 280px;
  position: absolute;
  background-image: url("../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  }
