.information {
  padding: 0;
  margin: 0 auto;
  background-color: $colorBody;
  min-width: 320px;
  margin-top: -15px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.information__info {
  font-size: 24px;
  min-width: 205px;
  text-align: center;
  font-weight: 400;
}
@media (min-width: $tablet-width) {

}
