.information {
  padding-top: 30px;
  background-color: $colorBody;
  width: 320px;
  margin-top: -15px;
}
.information__info {
  font-size: 24px;
  padding-top: 50px;
  width: 220px;
  text-align: center;
  margin-left: 60px;
font-weight: 400;
}
