.page-main__screen {
  background: url(../img/bg-back-mobile@1x.jpg);
  width: 320px;
  background-repeat: no-repeat;
}
.page-main__title {
  color:  $ColorFontWhite;
  padding-top: 95px;
  text-align: center;
  font-size: 24px;
  width: 220px;
  margin-left: 50px;
}
