
 .personal {
  width: 320px;
  padding-top: 10px;
  margin-bottom: 25px;
  margin-left: 20px;
  background-color: $colorBody;
}
.personal__title {
  color: tomato;
  width: 200px;
  text-align: center;
  padding-top: 85px;
  font-size: 14px;
  text-transform: uppercase;
 }
.personal__item {
  padding-top: 10px;
  margin-left: 20px;
}
.personal__input {
  margin-top: 20px;
  height: 200px;
  width: 220px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
   resize: none;
}
.personal__btn {
  width: 260px;
  height: 65px;
  background-color: #2aab6d;
  margin-bottom: 45px;
  color: $ColorFontWhite;
  font-size: 18px;
}

.personal__text{
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  sup {
    color: $colorFontRed;
  }
}
