.photo__title {
  margin: auto;
  width: 250px;
  text-align: center;
  font-size: 14px;
  padding-top: 55px;
  padding-bottom: 60px;
  line-height: 30px
}
.photo__day {
  content: "";
  z-index: 1;
  font-size: 12px;
  color: $ColorFontWhite;
  padding: 6px 20px;
  background-color: $colorFontRed;
  top: 0;
  left: 50%;
  display: inline-block;
  vertical-align: top;

  line-height: 24px;
    font-weight: 700;
  position: absolute;
  text-transform: uppercase;
}
.photo__card {
  padding: 0;
  margin: 0;
  position: relative;
}
.photo__img {
  margin: auto;

}
.photo__discription--panorama {
  height: 190px;
  margin: auto;
  margin-top: -10px;
  margin-bottom: 20px;
}
.photo__discription {
  margin: auto;
  padding-top: 20px;
  margin-bottom: 20px;
  width: 280px;
  background-color: $colorBodyT;
}
.photo__author {
  margin-left: 20px;
  font-size: 14px;
}
.phono__time {
  font-size: 14px;
  margin-left: 5px;
  text-transform: uppercase;
  color: #bcc0c4;
}
.photo__text {
  margin-top: 0;
  font-size: 14px;
  margin-left: 20px;
}
.photo__like {
  margin-left: 20px;
  padding-bottom: 25px;
}
.photo__btn {
  border: none;
  width: 13px;
  height: 12px;
  background-image: url(../img/icon-heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: $colorBodyT;
}
.photo__counter {
  color: $colorFontRed;
  margin-left: 20px;
  font-size: 12px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
.photo__wrapper {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  width: 620px;
  margin: auto;
}
.photo__discription {
  height: 135px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}
.photo__discription--panorama {
  width: 620px;
  height: 100px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.photo__title {
  padding-top: 100px;
  font-size: 18px;
  padding-bottom: 80px;
  margin: 0 auto;
  width: 440px;
}
.photo__text {
  flex-grow: 1;
}
.photo__day {
  transform: translateX(170px);
  top: 57px;
}
.photo__phanorama {
  width: 660px;
  height: 509px;
}
.photo__img--panorama {
  width: 660px;
  margin: auto;
}

.photo__author--panorama {
  order: 0;
}
.photo__like--panorama {
  margin-right: 30px;
  padding: 0;
}
.photo__counter {
  margin: 0;
}
.photo__counter--panorama {
  margin-right: 20px;
}
.photo__like {
  order: 1;
  display: flex;
  justify-content: space-between;
}
.photo__btn {
  order: 1;
  margin-right: 30px;
}
.photo__counter {
  order: 0;
}
.photo__text--panorama {
  order: 2;
  }
}
@media (min-width: $desktop-width) {
.photo {
  margin: auto; 
}
.photo__img--panorama {
  width: 960px;
}
.photo__wrapper {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  width: 940px;
  margin: 0 auto;
}
.photo__card {
  margin: 0;
}
.photo__title {
  padding-bottom: 100px;
  width: 580px;
}
.photo__day {
  transform: translateX(230px);
  top: 54px;
}
.photo__discription {
  height: 155px;
  width: 300px;
}
.photo__discription--panorama {
  width: 940px;
  height: 100px;
  margin: auto;
  margin-bottom: 20px;
}
.photo__text {
  width: 880px;
  }
}
