.socials {
  text-align: center;
  display: flex;
  padding-top: 35px;
  margin-left: 70px;
}
.socials__link {
  margin-right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #e9ebec;
}
.socials__link:hover {
  border: 3px solid #283645;
}
.socials__link:active {
  border: 3px solid #e9ebec;
  opacity: 0.3;
}
.socials__link--twitter {
  background-image: url(../img/icon-twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.socials__link--facebook {
  background-image: url(../img/icon-facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.socials__link--youtube {
  background-image: url(../img/icon-youtube.svg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: $tablet-width) {
.socials {
  margin: auto;
  padding: 0;
  }
}
