.timer {
  display: none;
}
@media (min-width: $tablet-width) {
.timer {
  display: flex;
  justify-content: right;
  padding-top: 60px;
}
.timer__left {
  display: flex;
  margin: auto;
}
.timer__item {
  left: 20px;
  width: 238px;
  height: 276px;
  display: flex;
  position: relative;
}
.timer__item:after {
  content: "24";
  font-size: 96px;
  color: #d22856;
  position: absolute;
  top: 170px;
  left: 60px;
  font-weight: 700;
}
.timer__title {
  margin: 0;
  font-size: 30px;
  width: 170px;
  line-height: normal;
}
.timer__text br {
  display: none;
}
.timer__description {
  margin-left: 90px;
  padding: 71px 40px 115px 0;
}
.timer__text {
  width: 310px;
  font-size: 14px;
}
.timer__link-text a {
  color: $colorFontRed;
  }
}
@media (min-width: $desktop-width) {
.timer {
  background-color: #f2f2f2;
}
.timer__item {
  margin-left: 130px;
}
.timer__item:after {
  font-size: 120px;
}
.timer__text {
  font-size: 18px;
  width: 530px;
  line-height: 30px;
  }
.timer__title {
  width: 300px;
}
.timer__description {
  margin-left: 70px;
}
.timer__link-text {
  font-size: 18px;
  line-height: 30px;
  }
}
