.upload {
  width: 320px;
}
.upload__title {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 14px;
  width: 260px;
  text-align: center;
  margin: 0 auto;
}
.upload-img {
  background-color: $colorBodyT;
}
.upload__photo__img {
  margin: auto;
  padding-top: 20px;
}
.upload__list {
  padding-top: 40px;
  display: flex;
  list-style: none;
}
.upload__tool {
  border: none;
}
.upload__input {
  display: none;
}
.upload__input--brightness {
  display: block;
padding-top: 40px;
  }
  .upload__item {
    position: relative;
  }
.upload__item::before {
  content: "";
    display: block;
    position: absolute;
    top: 115px;
    left: -40px;
    width: 100%;
    height: 1px;
    background-color: #dddfe0;
}
.upload-crop--icon {
  fill: #d22856;
}
.upload-fill--icon {
fill: #b5b9be;
}
.upload-fill--icon:hover {
  fill: #8d949b;
}
.upload-brightness--icon {
  fill: #b5b9be;
}
.upload-brightness--icon:hover {
  fill: #8d949b;
}

  input[type=range] {
    -webkit-appearance: none;
    width: 240px;
    background-color: rgba(0, 0, 0, 0);
  }
  input[type=range]::-webkit-slider-runnable-track {
    height: 2px;
    width: 250px;
    background: #283645;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -6px;
    border: 3px solid #d22856;
    background-color: #fafafa;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb:active {
    background-color: #f80606;
    }





@media (min-width: $tablet-width) {
.upload {
  width: 660px;
}
.upload__title {
font-size: 18px;
width: 405px;
}
.upload__photo__img {
  order: 0;
  margin-left: 20px;
  padding-top: 55px;
  padding-bottom: 55px;
}
.upload__photo {
  display: flex;
}
.upload__input  {
display: block;
padding: 0;
}
.upload__tool {
  width: 16px;
  height: 16px;
  margin-right: 30px;
}
.upload__icon {
  width: 16px;
  height: 16px;
  fill: #d22856;
}
.upload__wrapper {
  order: 1;
  margin:  auto;
  margin-top: 20px;
}
.upload__list {
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  width: 275px;
}
.upload__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 25px;
  padding-top: 25px;
}
.upload__item::before {
  left: 0;
  top:70px;
  width: 275px;
}

  input[type=range] {
    width: 200px;
  }
}
@media (min-width: $desktop-width) {
.upload {
  margin: auto;
  width: 940px;
}
.upload__title {
  width: 425px;
}
.upload__list {
  width: 410px;
}
.upload__item {
  padding-top: 20px;
  padding-bottom: 20px;
}
.upload__tool {
  width: 44px;
  height: 44px;
  margin-right: 45px;
}
.upload__icon {
  width: 44px;
  height: 44px;
}

 input[type=range] {
   width: 290px;
 }
}
