.сontacts {
  margin-top: -18px;
  background-color: $colorBody;
  width: 320px;
}
.сontacts__title {
text-align: center;
font-size: 18px;
margin-left: 60px;
    width: 205px;
}

.contacts__text {
  text-align: center;
  font-size: 18px;

}
.сontacts__email {
  margin-left: 60px;
  font-size: 18px;
  color: $colorFontRed;
}
.contacts__tel {
  text-align: center;
  font-size: 18px;
  color: $colorFontRed;
  width: 215px;
  a {
    color: $colorFontRed;
  }
}
.сontacts__email {
  text-align: center;
  font-size: 18px;
  color: $colorFontRed;
  width: 215px;
}
.contacts__adress {
  text-align: center;
  font-size: 18px;
  color: $colorFontRed;
  width: 195px;

}
