@import "variables.scss";

@import "blocks/body-page.scss";
@import "blocks/header.scss";
@import "blocks/main-nav.scss";
@import "blocks/page.scss";
@import "blocks/screen.scss";
@import "blocks/page-main.scss";
@import "blocks/download.scss";
@import "blocks/information.scss";
@import "blocks/advantage.scss";
@import "blocks/screen-phone.scss";
@import "blocks/reivew.scss";
@import "blocks/price.scss";
@import "blocks/—Åontacts.scss";
@import "blocks/map.scss";
@import "blocks/intro.scss";


@import "blocks/form.scss";
@import "blocks/modal.scss";
@import "blocks/filter.scss";
@import "blocks/communication.scss";
@import "blocks/travels.scss";
@import "blocks/personal.scss";
@import "blocks/footer.scss";
@import "blocks/modal-popup.scss";


@import "blocks/photo.scss";
@import "blocks/upload.scss";
