$colorBody: #fefefe;
$colorBodyT: #f2f2f2;
$colorHeader: #283645;
$ColorFontWhite: #fefefe;
$colorFontRed: #d22856;
$color-btn: #2aab6d;
$mobile-width: 320px;
$tablet-width: 660px;
$tablet-max-width: 659px;
$desktop-width: 960px;
$desktop-max-width: 959px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$only-mobile-and-tablet-width: 500px;
